## Create EMUs from World Ocean Atlas Data

### Download source files from NOAA:

In [1]:
NOAA_WOA23_Site = "https://www.ncei.noaa.gov/access/world-ocean-atlas-2023/"

In [2]:
woa_temperature = r"E:\analysis\WOA\woa23_decav_t00_04.nc"

In [3]:
from netCDF4 import Dataset

# Open the netCDF file
dataset = Dataset(woa_temperature, 'r')

# Print the variables in the dataset
print(dataset.variables.keys())

# Describe each variable
for var_name in dataset.variables.keys():
    var = dataset.variables[var_name]
    print(f"Variable: {var_name}")
    print(f"Dimensions: {var.dimensions}")
    print(f"Shape: {var.shape}")
    print(f"Attributes: {var.ncattrs()}")
    print()

dict_keys(['crs', 'lat', 'lat_bnds', 'lon', 'lon_bnds', 'depth', 'depth_bnds', 'time', 'climatology_bounds', 't_an', 't_mn', 't_dd', 't_sd', 't_se', 't_oa', 't_gp', 't_sdo', 't_sea'])
Variable: crs
Dimensions: ()
Shape: ()
Attributes: ['grid_mapping_name', 'epsg_code', 'longitude_of_prime_meridian', 'semi_major_axis', 'inverse_flattening']

Variable: lat
Dimensions: ('lat',)
Shape: (720,)
Attributes: ['standard_name', 'long_name', 'units', 'axis', 'bounds']

Variable: lat_bnds
Dimensions: ('lat', 'nbounds')
Shape: (720, 2)
Attributes: ['comment']

Variable: lon
Dimensions: ('lon',)
Shape: (1440,)
Attributes: ['standard_name', 'long_name', 'units', 'axis', 'bounds']

Variable: lon_bnds
Dimensions: ('lon', 'nbounds')
Shape: (1440, 2)
Attributes: ['comment']

Variable: depth
Dimensions: ('depth',)
Shape: (102,)
Attributes: ['standard_name', 'bounds', 'positive', 'units', 'axis']

Variable: depth_bnds
Dimensions: ('depth', 'nbounds')
Shape: (102, 2)
Attributes: ['comment']

Variable: time
Dimensions: ('time',)
Shape: (1,)
Attributes: ['standard_name', 'long_name', 'units', 'axis', 'climatology']

Variable: climatology_bounds
Dimensions: ('time', 'nbounds')
Shape: (1, 2)
Attributes: ['comment']

Variable: t_an
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_mn
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_dd
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_sd
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_se
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_oa
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_gp
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_sdo
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

Variable: t_sea
Dimensions: ('time', 'depth', 'lat', 'lon')
Shape: (1, 102, 720, 1440)
Attributes: ['standard_name', 'long_name', 'coordinates', 'cell_methods', 'grid_mapping', 'units', '_FillValue']

In [4]:
depth_dimensions = dataset.variables['depth'][:].tolist()
print(depth_dimensions)

[0.0, 5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0, 100.0, 125.0, 150.0, 175.0, 200.0, 225.0, 250.0, 275.0, 300.0, 325.0, 350.0, 375.0, 400.0, 425.0, 450.0, 475.0, 500.0, 550.0, 600.0, 650.0, 700.0, 750.0, 800.0, 850.0, 900.0, 950.0, 1000.0, 1050.0, 1100.0, 1150.0, 1200.0, 1250.0, 1300.0, 1350.0, 1400.0, 1450.0, 1500.0, 1550.0, 1600.0, 1650.0, 1700.0, 1750.0, 1800.0, 1850.0, 1900.0, 1950.0, 2000.0, 2100.0, 2200.0, 2300.0, 2400.0, 2500.0, 2600.0, 2700.0, 2800.0, 2900.0, 3000.0, 3100.0, 3200.0, 3300.0, 3400.0, 3500.0, 3600.0, 3700.0, 3800.0, 3900.0, 4000.0, 4100.0, 4200.0, 4300.0, 4400.0, 4500.0, 4600.0, 4700.0, 4800.0, 4900.0, 5000.0, 5100.0, 5200.0, 5300.0, 5400.0, 5500.0]

In [5]:
time_dimensions = dataset.variables['time'][:].tolist()
print(time_dimensions)

[4614.0]

In [6]:
time_var = dataset.variables['time']
time_attributes = {attr: time_var.getncattr(attr) for attr in time_var.ncattrs()}
print(time_attributes)

{'standard_name': 'time', 'long_name': 'time', 'units': 'months since 1955-01-01 00:00:00', 'axis': 'T', 'climatology': 'climatology_bounds'}

In [10]:
import numpy as np

# Extract the necessary variables
latitudes = dataset.variables['lat'][:]
longitudes = dataset.variables['lon'][:]
depths = dataset.variables['depth'][:]
temperatures = dataset.variables['t_an'][:]

# Create a list to store the data
data = []

# Iterate over each depth level
for depth_index, depth in enumerate(depths):
            for lat_index, lat in enumerate(latitudes):
                for lon_index, lon in enumerate(longitudes):
                    t_an_value = temperatures[0, depth_index, lat_index, lon_index]
                    if not t_an_value is np.ma.masked:
                        data.append([lat, lon, depth, t_an_value])

# Create a dataframe
df = pd.DataFrame(data, columns=['Latitude', 'Longitude', 'Depth', 'Temperature_Anomaly'])
print(df)

          Latitude  Longitude   Depth  Temperature_Anomaly
0          -78.375   -163.875     0.0             -1.60811
1          -78.375   -163.625     0.0             -1.60671
2          -78.125   -168.875     0.0             -1.50571
3          -78.125   -168.375     0.0             -1.51451
4          -78.125   -167.875     0.0             -1.53871
...            ...        ...     ...                  ...
52487228    55.125    164.625  5500.0              1.60161
52487229    55.125    164.875  5500.0              1.59971
52487230    55.375    164.125  5500.0              1.60301
52487231    55.375    164.375  5500.0              1.60231
52487232    79.125      2.875  5500.0              1.01459

[52487233 rows x 4 columns]